[color "branch"]

	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]

	meta = yellow bold
	frag = magenta bold # line info

[help]

	# Automatically correct and execute mistyped commands
	autocorrect = 1

[user]
	name = rcouto
	email = rcouto@twitter.com
[push]
	default = current

[core]
    pager = delta

[delta]
    plus-color = "#012800"
    minus-color = "#340001"
    syntax-theme = Monokai Extended

[interactive]
    diffFilter = delta --color-only